[Desktop Entry]
Name=EXWM
Comment=Emacs Window Manager
Exec=sh /home/jakub/.config/emacs/exwm/start.sh
TryExec=sh
Type=Application
X-LightDM-DesktopName=exwm
DesktopNames=exwm
